<div class="hero">
  <img src="{{hero-src}}" alt="{{hero-alt}}"/>
</div>

{{!-- <div class="greeting"></div>
<script id="greeting-template" text="text/x-handlebars-template">
  <p>Hola! Soy {{name}} y vivo en {{city}}</p>
</script> --}}

{{!-- <div class="entry"> 
  <h1>{{name}}</h1> 
  <div>{{quote}}</div> 
</div> --}}